.el-collapse-item__header{
  height: 28px;
  line-height: 28px;
}
.el-drawer__body {
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
}
.el-icon-circle-plus-outline{
  font-size: 20px;
  padding: 2px 7px;
  font-weight: 200;
}